* {
  box-sizing: border-box;
  font-family: calibri;
}

body {
  background-color: rgba(229, 236, 248, 0.5);
  margin: 0;
  padding: 0;
}

header {
  background-color: #5f7989;
  height: 10vh;
  width: 100vw;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5), 1px 2px 4px rgba(100, 100, 100, 0.5);
  padding-top: 1vh;
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page-title,
.page-description {
  text-align: center;
}

.page-title {
  height: 22px;
  width: auto;
  font-size: 1.4rem;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

.page-description {
  font-size: 1rem;
  height: 19px;
  width: auto;
  color: rgb(200, 207, 212);
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
  margin-top: 0.4rem;
}

main,
aside,
section.section-form {
  padding-right: 0.45rem;
  padding-left: 0.45rem;
}

.main-section {
  margin-top: 1.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #96b4c7;
  border-radius: 8px;
}

.product-title {
  font-size: 1.1rem;
  font-weight: 600;
  height: 1.12rem;
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  height: 1.12rem;
  padding-bottom: 1.5rem;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.2);
}

.product-description {
  text-align: justify;
}

.product-description p {
  margin-bottom: 0.5rem;
}

.desc-img {
  margin-top: 0.5rem;
  border-radius: 8px;
}

aside {
  margin-left: 0rem;
  max-height: 60vh;
  overflow: scroll;
  text-overflow: ellipsis;
}

.article-card {
  background-color: #c5dfef;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 8px;
}

.article-title {
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.2);
  border-bottom: 1px dashed #999;
  padding-bottom: 0.5rem;
}

.article-summary {
  text-align: justify;
  margin-top: 0.25rem;
}

.article-link {
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.2);
  border: 1px dotted #99bbd1;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #b2d5ea;
}

.article-link:hover {
  background-color: #99bbd1;
}

.main-section,
.article-card,
.section-form {
  padding: 0.6rem 0.5rem 0.4rem 0.5rem;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5), 2px 1px 5px rgba(100, 100, 100, 0.25);
}

label {
  display: block;
  margin-top: 0.9rem;
  margin-bottom: 0.05rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  height: 2.5rem;
  font-size: 1rem;
  width: 80%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #5f7989;
  padding-left: 0.25rem;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover {
  background-color: #aac8db3b;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  background-color: #aadbc641;
}

fieldset {
  border-radius: 8px;
  margin-top: 1.25rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  border: 1px dotted #5f7989;
  background-color: #e2eff7;
}

legend {
  font-weight: 600;
}

div.terms-conditions {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

input[type="submit"] {
  display: block;
  height: 3.25rem;
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: #3f7ee8;
  font-size: 1.1rem;
  color: white;
  font-weight: 800;
  margin-bottom: 1rem;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
}

input[type="submit"]:hover {
  background-color: #1565c0;
  cursor: pointer;
}

footer {
  background-color: #506573;
  color: #c5dfef;
  padding: 1rem 1rem 2rem 1rem;
}

.footer-subsection {
  margin-top: 1.45rem;
}

.footer-subsec-element {
  margin-top: 0.25rem;
}

.footer-subsec-element a,
.last-subsection-elem a {
  color: #c5dfef;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 820px) {
  header {
    height: 7vh;
  }

  .main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .main-section {
    margin-top: 0;
  }

  aside div.article-card {
    margin-top: 0;
  }

  main,
  aside {
    margin-top: 0.75rem;
    height: 53vh;
    width: 50%;
    overflow: hidden;
    margin-bottom: 0.5rem;
  }

  main {
    overflow: hidden;
  }

  aside {
    overflow: scroll;
  }

  .product-description {
    white-space: no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 27vh;
  }

  .section-form {
    width: 50%;
  }

  footer {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 490px;
  }

  .footer-subsection {
    width: 25%;
  }
}

@media only screen and (min-width: 992px) {
  .main-container {
    max-width: 1075px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  main {
    height: auto;
  }

  main,
  aside {
    width: 100%;
  }

  aside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .article-card {
    max-width: 32%;
    margin-left: 0.35rem;
    margin-right: 0.35rem;
    height: 18vh;
  }

  footer {
    position: relative;
    top: 1600px;
  }
}
